!!!
html
  head
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/formtimer.css')

  body
    a(href='https://github.com/presidential-innovation-fellows/FormTimer')
      img.ribbon(src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png", alt="Fork me on GitHub")

    .container
      h2 FormTimer Example

    .container
      h4 Form #1
      form#myformid(action='results', data-formtimer-name="Form #1", method='GET')
        label Example text input
        input(type="hidden", name="url", value="example")
        input(type="hidden", name="formId", value="Form #1")
        input(name='test', type="text", placeholder='Timer starts when you click here...')
        label Pick one or two
        select
          option One
          option Two
        div
          input(type='submit', value="Done")

  script(src='/js/jquery.js')
  script(src='/js/jquery.formtimer.js')
  script(src='/js/example.js')